.bg-light{
    background-color: #e7e7e7;
}
.img{
    width: 5px;
    height: 5px;
}
.green
{
    background-color: #1abc9c;
}
h3{
    font-size: 45px;
    color: white;
    padding: 80px;
    font-weight: lighter;
}

.gray
{
    background-color: #474e5d;
    color: white;
    font-weight: lighter;
    font-size: 25px;
}

button.fas.fa-search.btn.btn-outline-success {
    margin-bottom: 20px;
}

.white h3{
    color: black;
}
.white p{
    font-size: 25px;
    padding-bottom: 50px;
}

h3.text-center {
    padding: 25px 0px;
}

img.rounded-circle.mx-auto.d-block {
    height: 30%;
    width: 18%;
}